
header{
	display: flex;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0px;
	top: 0px;
	background: #222222;
}

header img{
    margin-left: 25%;
	width: 40px;
	height: 40px;
}

header h1{
	margin-top: 0;
	margin-left: 10px;
	color: #FFFFFF;


}

#headerButtons{
	margin-top: 0;
	margin-right: 30px;
	margin-left: 30px;
	width: 300px;
	display: flex;
	text-align: center;
}

.headerButton{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-content: flex-start;

	width: 128px;
	height: 34px;
	margin-left: 30px;
	margin-top: 3px;
	border-radius: 5px;

}

.headerButton:hover{
	background: #5B5B5B;
}


header a {

	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	height: 20px;
	margin-top: 8px;
	text-decoration: none;
	color: #FFFFFF;
}

.calendar{

	border-collapse: collapse;
	background: #f2f2f2;
	margin-left: 25%;
}

.calendar_head{
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.calendar_head_text{
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #000000;
}

.calendar_match, .calendar_head{
	border: 1px solid #ddd;
    padding: 8px;
}

.calendar_match:hover {
	background-color: #ddd;
}

.calendar_match_info{
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	padding: 6px;
}

.match_score{
	background: #A8A8A8;
	text-align: center;
}

.footer_line{
	width: 85%;
	height: 1px;
	margin-left: 7.5%;
	background: #000000;
}

.footer_info{
	display: flex;
	justify-content: space-between;
}

footer p, footer a{
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	color: #000000;
	line-height: 28px;
	margin: 12px;
}

